.card-empty {
    --card-m: 80px auto;
    --card-bs: none;
    --card-b: none;
    --card-bg: transparent;
    --card-image-w: 200px;
    --card-image-h: auto;
    --card-image-m: auto;
    --card-ai: center;
    --card-title-fs: 1.2rem;
    --card-title-fw: 500;
    text-align: center;
}

.card-msg {
    --card-w: clamp(200px, 80vw, 500px);
    --card-b: none;
    --card-bs: none;
    --card-h: auto;
    --card-image-w: 50%;
    --card-image-h: 100%;
    --card-image-m: auto;
    --card-m: 0 auto;
    text-align: center;

    .image {
        object-fit: none;
    }

    .alert {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: left;
    }

    .card-foot,
    .card-body {
        text-align: center;
    }
}
