.navbar {
    --navbar-bg: var(--body);
    --navbar-fg: var(--text);
    --navbar-a-img: 50px;
    --navbar-icon-bg: transparent;
    --navbar-icon-fg: #ccc;
    background-color: var(--navbar-bg);
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid var(--border);


}