.pagination-row {
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}

.pagination {
    --pagination-br: var(--rounded);
    --pagination-p: 0.2rem 0.4rem;
    --pagination-fs: 1.1rem;
    --pagination-fg: var(--text);
    --pagination-bg: var(--body);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    background-color: var(--pagination-bg);
    .page-item:not(:first-child) .page-link {
        margin-left: calc(var(--border-width) * -1);
    }
    .page-item.disabled {
        display: none;
    }

    .page-link {
        background-color: transparent;
        padding: var(--pagination-p);
        font-size: var(--pagination-fs);
        color: var(--pagination-fg);
        border: none;
        position: relative;
        display: block;
        text-decoration: none;
        outline: 0;
        cursor: pointer;
        font-weight: 600;

        &:hover,
        &:focus {
            z-index: 2;
            color: var(--primary);
        }
    }
    .active {
        a {
            color: var(--primary) !important;
            font-weight: 700;
            border: none;
        }
    }
}

.pagination-sm {
    --pagination-p: 0.3rem 0.6rem;
}

.pagination-lg {
    --pagination-p: 0.6rem 0.9rem;
    --pagination-fs: calc(var(--font-size) + 2px);
}

@media (prefers-reduced-motion: reduce) {
    .page-link {
        transition: none;
    }
}
